<header>
  Buttons
</header>
<main>
  <div>
    <app-button></app-button>
  </div>
  <div>
    <app-button variant='outline'></app-button>
  </div>
  <div>
    <app-button variant='text'></app-button>
  </div>
  <div>
    <app-button [disableShadow]='true'></app-button>
  </div>
  <div>
    <app-button [disabled]='true'></app-button>
    <app-button variant='text' [disabled]='true'></app-button>
  </div>
  <div>
    <app-button startIcon='local_grocery_store'></app-button>
    <app-button endIcon='local_grocery_store'></app-button>
  </div>
  <div>
    <app-button size='sm'></app-button>
    <app-button size='md'></app-button>
    <app-button size='lg'></app-button>
  </div>
  <div>
    <app-button color='default'></app-button>
    <app-button color='primary'></app-button>
    <app-button color='secondary'>Secondary</app-button>
    <app-button color='danger'>Danger</app-button>
  </div>
  <div class='icons-text'>
    Icons: htpps://material.io/resources/icons/?style=round
  </div>
</main>
<footer>
  created by
  <span class='username'>
    username
  </span>
  - devchallenges.io
</footer>
